#header{
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 100px 200px;
}
.header--left{

}
.header--left__h1{
  font-size: 24px;
  font-family: 'Exo 2', sans-serif;
}
.header--right{

}
.gnav{

}
.gnav--lists{
  display:flex;
}

.gnav--list{
  line-height: 24px;
  font-size: 18px;
  padding: 0 10px;
  border-left: 1px solid #fff;
}

.gnav--list:first-child{
  border: none;
}

.gnav--lists .fab{
  color: #fff;
  font-size: 24px;
  margin: 0 5px;
}

.gnav--list a{
  color: white;
  font-family: 'Exo 2', sans-serif;
}

.about--container{
  padding: 75px 0;
  background-color: #f5f5f5;
}

#about{
  text-align: center;
  color: #333;
  font-size: 3em;
  margin-bottom: 20px;
  font-weight: 100;
  letter-spacing: 4px;
}

.image--message{
  display: flex;
  width: 920px;
  margin: 0 auto;
}

.image--message__image{
  border-radius: 50%;
}

.image--message__message{
  margin: auto;
  font-size: 20px;
  font-weight: 400;
}

.marker span {
  padding-bottom: .2em;
  background: -webkit-linear-gradient(left, #fcd69e 50%, transparent 50%) 100% bottom / 200% 35% no-repeat;
  background: linear-gradient(to right, #fcd69e 50%, transparent 50%) 100% bottom / 200% 35% no-repeat;
  -webkit-transition: background-position .5s ease-out;
  transition: background-position .5s ease-out;
  line-height: 3em;
}
.marker:hover span {
  background-position: 0% bottom;
}

.profile{
  width: 920px;
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
}

.profile__name{
  width: 350px;
  margin: auto 0;
}

.profile__name p{
  text-align: center;
  margin-bottom: 10px;
}

.profile__name h3{
  text-align: center;
  font-size: 28px;
}

.profile__text{
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 200;
}

#main{
  width: 920px;
  margin: 30px auto;
}

.works--container{
  padding: 75px 0;
}

#works{
  text-align: center;
  color: #333;
  font-size: 3em;
  margin-bottom: 20px;
  font-weight: 100;
  letter-spacing: 4px;
}

.portfolio-img{
  height: 250px;
}

.mercari,.mooovi,.bbs{
  margin: 50px 0;
  display: flex;
}

.chat-space,.pictweet{
  margin: 50px 0;
  display: flex;
  flex-direction: row-reverse;
}

.works__text{
  margin: auto;
}

.works__text h4{
  text-align: center;
  font-size: 18px;
  margin: 10px 0;
}

.works__text p{
  line-height: 2em;
}

#contact{
  text-align: center;
  color: #333;
  font-size: 3em;
  margin-bottom: 20px;
  font-weight: 100;
  letter-spacing: 4px;
}

.contact-icon{
  display: flex;
  justify-content: center;
}

.contact-icon a{
  margin: 0 15px;
}
.contact-icon img {
  height: 75px;
  border-radius: 50%;
  display: block;
}

.mail-contact{
  text-align: center;
  color: #333;
  font-size: 1.5em;
  margin: 30px 0 5px 0;
  font-weight: 100;
  letter-spacing: 4px;
}

.sns-contact{
  text-align: center;
  color: #333;
  font-size: 1em;
  margin: 30px 15px 15px;
  font-weight: 100;
  letter-spacing: 4px;
}

.form-content{
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.contact--container p{
  font-weight: 100;
  text-align: center;
  margin-bottom: 15px;
}

.form-label{
  display: block;
  width: 200px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 200;
  background-color: #d3d3d3;
  padding: 10px;
  margin: 5px 10px 5px 5px;
  text-align: center;
  border-radius: 10px;
}
.form-clabel{
  line-height: 7.5em;
}

.form-input{
  width: 600px;
  font-size: 1.2em;
  font-weight: 100;
  border-radius: 10px;
}

.form-submit{
  border-radius: 10px;
  display: block;
  width: 300px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 200;
  background: #668ad8;
  border-bottom: solid 4px #627295;
  padding: 10px;
  margin: 50px auto;
}

.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

#footer{
  background-color: #000;
  height: 3em;
  color: #fff;
}

#footer p{
  text-align: center;
  line-height: 3em;
}
